<script type="text/x-magento-init">
        {
            "*":{
                "NStudios_InstagramPost/js/insta":
                    {
                        "options":"<?php echo $block->getData('token');?>"
                    }
            }
        }
</script>


<div class="instagram-post">
            <div  class="profile-img" onclick="instaBtn()">
               <div id="insta-btn" class="borders avatar-profile">
                   <!-- JAVASCRIPT ADD PROFILE PICTURE -->
               </div>
            </div>
            <!-- profile image -->
        </div>
        <!-- instagram The Modal -->
        <div id="instaModal" class="insta-modal">
            
            <!-- Modal content -->
            <div class="insta-modal-content">
                  
           
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <!-- <span class="insta-close"><div>x</div></span> -->
                            <button class="insta-close"><i>x</i></button>
                                <ol id="indicators" class="carousel-indicators">
                                    <!-- Java code import -->
                                  </ol>

                                    <div class="carousel-inner" id="squishmallow">
                                          <!-- aJAX IMAGE LOAD HERE -->
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only"><i class="fas fa-chevron-right"></i></span>
                                    </a>
                                  </div>
                                  
                    </div>
        </div>
      